<form autocomplete="on" action="/interaction/<%= uid %>/forgot-password" method="post">
  <input required type="email" name="email" placeholder="Enter email" <% if (!params.login_hint) { %>autofocus="on"<% } else { %> value="<%= params.login_hint %>" <% } %>>
  <button type="submit" class="send-email">Send email</button>
</form>