<form autocomplete="off" action="/interaction/<%= uid %>/signup-init" " method="post">

  <button type="submit" class="signup signup-submit">Sign-Up</button>
</form>

<form autocomplete="off" action="/interaction/<%= uid %>/login-init" " method="post">

  <button type="submit" class="signup signup-submit">Sign-In</button>
</form>

