<form autocomplete="off" action="/interaction/<%= uid %>/new-password/<%= xauthCode %>"  method="post">
  <input required type="password" name="password" placeholder="Enter password" />
  <input required type="password" name="repeatedPassword" placeholder="Repeat password" />
  <!-- TODO: check if the passwords match -->
  <button type="submit" class="new-password">Submit new password</button>
</form>