<div>
 Email address: <%= locals.email %>
 <br/>
 Not registered. Please 
 <a href="/interaction/<%= uid %>/forgot-password-init">Try again</a>or
 <a href="/interaction/<%= uid %>"> Sign up here</a>
</div>