<form autocomplete="off" action="/interaction/<%= uid %>/signup" " method="post">
  <input required type="text" name="email" placeholder="Enter email" />
  <input required type="password" name="password" placeholder="and password" />

  <button type="submit" class="signup signup-submit">Sign-Up</button>
</form>
